<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>HorizonEllo</title>
  <meta name="viewport" content="width=device-width">
  <link rel="stylesheet" href="css/styles.css">
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

  <!-- Latest compiled and minified JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</head>

<body>
 <header>
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Horizonello</a>
        </div>
          <form class="navbar-form navbar-left">
            <div class="form-group">
              <input type="text" class="form-control" placeholder="Search">
            </div>
            <button type="submit" class="btn btn-default">Submit</button>
          </form>
          <ul class="nav navbar-nav navbar-right">
            <li><a href="#">Austin</a></li>
           
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>
  </header>

  {{{ body }}}

  <footer>
    Your footer code here
  </footer>

  <script src="js/jquery.min.js"></script>
  <script src="js/underscore-min.js"></script>
  <script src="js/script.js"></script>
</body>
</html>

<!-- The app currently has no styling; it's up to you to add style and interactivity to it as you go through these tasks. Be creative!

View lists, create new list [frontend] 
Allow users to view and create lists. Lists should be displayed as vertical columns in a Trello-like manner. 
See: GET /api/lists and POST /api/lists.
Fix POST /api/list/:id endpoint [backend] 
There's a bug :beetle: in the API endpoint for updating Lists in app.js. Find it and fix it.
Create new card in a list [frontend] 
Allow users to create new cards in existing lists. 
See: POST /api/lists/:id.
Rename list [frontend] 
Allow users to rename existing lists. 
See: POST /api/lists/:id.
Change card contents [frontend] 
Allow users to change the contents of cards. 
See: POST /api/lists/:id.
Delete card [frontend] 
Allow users to delete single cards. 
See: POST /api/lists/:id.
Move cards [frontend] 
Allow users to move cards within and between lists. 
See: POST /api/lists/:id.
Reorder lists [frontend] 
Allow users to reorder whole lists. You can use drag-and-drop or buttons. 
See: POST /api/lists/:id.
Implement DELETE /api/lists/:id [backend] 
Create a new Express endpoint that takes a DELETE request and an id and deletes a single list. This endpoint should return 404 Bad Request if list with id can't be found. 
See: function storage.del(kind, id) in storage.js
Delete list [frontend] 
Allow users to delete whole lists. 
See: DELETE /api/lists/:id.
Legend:

[frontend]: Task involves work in the browser with HTML, CSS and JavaScript.
[backend]: Task involves work in the server with Node and Express
 -->